
.main {
    padding-bottom: 2.5rem;
    height: 91.7vh;
    font-family: "Open Sans";
    background-size: 300% 300%;
    background:
        linear-gradient(#05228b, transparent),
        linear-gradient(to top left, #021145, transparent),
        linear-gradient(to top right, #232323, transparent);
        background-blend-mode: screen;

  }
  
  .grid {

    text-align: center;
    width: 900px;
    margin: auto;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .score {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .startB {
    float: left;
    text-align: center;
    padding-left: 1rem;
    margin-right: -100px;
  }